html{
    font-size: 62.5%;
    /*tamaño de el contenido deve de ser de 62.5%*/
    box-sizing: border-box;/*Para que el contenedor no se haga mas grande cuando hago mas grande una imagen u otro objeto*/
}
body
{
    font-size: 16px;
    /*font-family:*/
   background: url(../img/283994019_1722586761424252_1806474711662013005_n.jpg) no-repeat fixed;
   min-height: 100vh;
    background-size: cover;

}
.titulo{
    text-align: center;
    color: black;
    background-color:yellowgreen;
    margin: 2rem;
    width: 500px;
    border-radius: 10px;
}
.nav-pg{
    background-color: yellowgreen;
    border-radius: 10px;

}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
@media(min-width:768px){
    .navegacion-principal{
        flex-direction: row;
        align-items: center;
    }
}
.navegacion-principal a{
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
}    
.navegacion-principal a:hover{
    background-color:turquoise;
    color:black;
    border-radius: 10px;
   }

.img{
    border-radius: 10px;
    width: 600px;
    height: 310px;
    position: relative;
    top: 10px   ;
}


.art1{
    border-radius: 10px;
    width: 800px;
    height: 450px;
    background-color:burlywood;
    text-align: center;
    margin-left: 15%;
    
}
.art2{
    border-radius: 10px;
    width: 800px;
    height: 450px;
    background-color:turquoise;
    text-align: center;
    margin-left: 15%;
    
}
.art3{
    border-radius: 10px;
    width: 800px;
    height: 450px;
    background-color:beige;
    text-align: center;
    margin-left: 15%;
    
}
.art4{
    border-radius: 10px;
    width: 800px;
    height: 450px;
    background-color:teal;
    text-align: center;
    margin-left: 15%;
    
}
